*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.2);
}
.navbar-brand{
    color: #000000 !important;
    font-family: 'Lobster', cursive;
    font-size: xx-large;
}
.nav-link{
    color: #000000 !important;
    font-weight: bold;
}
.nav-link:hover{
    color: #CA3A28 !important;
}


  body{
    height: 100vh;
    font-family: 'Merriweather', serif;
    background: #FCF0F0;
  }
  canvas {
    height: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 170px; 
}